#header #logo {
    height: 70px;
    width: 240px;
    border-radius: 10px;
}

#header #submit {
    text-decoration: none;
    color: whitesmoke;
}

.headerSubmit {
	color: white;
	background-color: red;
	border-radius: 5px;
	border-left: 10px solid yellow;
}

#footer .footerSign {
	weight: 100%;
}